
  <nav class="navbar navbar-expand-sm navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link"  routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pagos y cortes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" routerLink="pagos">Pagos</a></li>
              <li><a class="dropdown-item" routerLink="cortes">Cortes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="contratacion">Contrataciones</a></li>
              <li><a class="dropdown-item" routerLink="cancelacion">Cancelaciones</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-primary" type="button" (click)="onLogOff()">Cerrar sesión</button>
        </form>
      </div>
    </div>
  </nav>
    <router-outlet></router-outlet>